<footer>
    <div class="logo footer-logo"></div>
    <section class="copyright-container">
        <span class="copyright">
            <i class="bi bi-c-circle"></i> 2023 Ticket on Point.
        </span>
        <p>Todos los derechos reservados. Prohibida la reproducción total o parcial sin autorización previa por
            escrito. Política de privacidad | Términos y condiciones</p>
    </section>
    <section class="social-media-container">
        <span>Síguenos en</span>
        <div class="social-media">
            <i class="bi bi-facebook facebook"></i>
            <i class="bi bi-instagram instagram"></i>
            <i class="bi bi-twitter twitter"></i>
        </div>
    </section>
</footer>