<header>
    <!--* Only for Mobile Devices -->
    <section id="mobile-header" class="logo">
    </section>
    <!--* Only for Mobile Devices -->

    <section id="navbar">
        <!-- 
        * Cargaremos el SVG del Logo mediante una petición HTTP GET, para poder editar el color, etc.
        * Y así no sobre cargar la página desde el código fuente con texto y hacerlo no legible.
        -->
        <div class="logo">
        </div>
        <div id="menu">
            <a href="{% url 'home' %}">
                <div class="menu-item">
                    <span>Eventos</span>
                </div>
            </a>
            <a href="{% url 'acerca-de' %}">
                <div class="menu-item">
                    <span>Acerca de</span>
                </div>
            </a>
            {% if user.is_authenticated %}
            <a href="{% url 'mis-eventos' %}">
                <div class="menu-item">
                    <span>Mis Entradas</span>
                </div>
            </a>
            {% endif %}
            <section class="menu-item profile" id="profile-button">
                {% if user.is_authenticated %}
                <a href="{% url 'perfil' %}">
                    <div class="profile-icon">
                        <span class="material-symbols-outlined">
                            account_circle
                        </span>
                    </div>
                </a>
                {% else %}
                <a href="{% url 'login' %}">
                    <div class="login">
                        <span class="material-symbols-outlined">
                            login
                        </span>
                        <span>Iniciar Sesión</span>
                    </div>
                </a>
                {% endif %}
            </section>
    </section>
    </div>
    </section>
</header>