    <!--* Only for Mobile Devices -->
    <section id="mobile-menu">
        <div class="menu-item">
            <span class="menu-item-icon material-symbols-outlined">
                help
            </span>
            <span class="menu-item-text">
                Acerca de
            </span>
        </div>
        <div class="menu-item">
            <span class="menu-item-icon material-symbols-outlined">
                calendar_month
            </span>
            <span class="menu-item-text">
                Eventos
            </span>
        </div>
        <div class="menu-item active">
            <span class="menu-item-icon material-symbols-outlined">
                person
            </span>
            <span class="menu-item-text">
                Mi Perfil
            </span>
        </div>
    </section>
    <!--* Only for Mobile Devices -->