:root {
  --color-red: rgb(255 49 38);
  --color-red-variant: rgb(255 79 68);
  --color-orange: rgb(245 139 0);
  --color-orange-variant: rgb(255 169 20);
  --color-yellow: rgb(245 194 0);
  --color-yellow-variant: rgb(255 224 20);
  --color-green: rgb(30 195 55);
  --color-green-variant: rgb(60 225 85);
  --color-mint: rgb(0 189 180);
  --color-mint-variant: rgb(108 224 219);
  --color-teal: rgb(46 167 189);
  --color-teal-variant: rgb(68 212 237);
  --color-cyan: rgb(65 175 220);
  --color-cyan-variant: rgb(90 205 250);
  --color-blue: rgb(0 112 245);
  --color-blue-variant: rgb(20 142 255);
  --color-indigo: rgb(84 82 204);
  --color-indigo-variant: rgb(99 97 242);
  --color-purple: rgb(159 75 201);
  --color-purple-variant: rgb(204 101 255);
  --color-pink: rgb(245 35 75);
  --color-pink-variant: rgb(255 65 105);
  --color-brown: rgb(152 122 84);
  --color-brown-variant: rgb(182 152 114);
  --color-gray: rgb(132 132 137);
  --color-gray-variant: rgb(162 162 167);
  --color-white: rgb(242 242 247);
  --color-white-2: rgb(229 229 234);
  --color-white-3: rgb(209 209 214);
  --color-white-4: rgb(199 199 204);
  --color-white-5: rgb(174 174 178);
  --color-white-6: rgb(142 142 147);
  --color-black: rgb(28 28 30);
  --color-black-2: rgb(44 44 46);
  --color-black-3: rgb(58 58 60);
  --color-black-4: rgb(72 72 74);
  --color-black-5: rgb(99 99 102);
  --color-black-6: rgb(142 142 147);
}

@media (prefers-color-scheme: dark) {
  body {
    --color-red-variant: rgb(255 49 38);
    --color-red: rgb(255 79 68);
    --color-orange-variant: rgb(245 139 0);
    --color-orange: rgb(255 169 20);
    --color-yellow-variant: rgb(245 194 0);
    --color-yellow: rgb(255 224 20);
    --color-green-variant: rgb(30 195 55);
    --color-green: rgb(60 225 85);
    --color-mint-variant: rgb(0 189 180);
    --color-mint: rgb(108 224 219);
    --color-teal-variant: rgb(46 167 189);
    --color-teal: rgb(68 212 237);
    --color-cyan-variant: rgb(65 175 220);
    --color-cyan: rgb(90 205 250);
    --color-blue-variant: rgb(0 112 245);
    --color-blue: rgb(20 142 255);
    --color-indigo-variant: rgb(84 82 204);
    --color-indigo: rgb(99 97 242);
    --color-purple-variant: rgb(159 75 201);
    --color-purple: rgb(204 101 255);
    --color-pink-variant: rgb(245 35 75);
    --color-pink: rgb(255 65 105);
    --color-brown-variant: rgb(152 122 84);
    --color-brown: rgb(182 152 114);
    --color-gray-variant: rgb(132 132 137);
    --color-gray: rgb(162 162 167);
    --color-black: rgb(242 242 247);
    --color-black-2: rgb(229 229 234);
    --color-black-3: rgb(209 209 214);
    --color-black-4: rgb(199 199 204);
    --color-black-5: rgb(174 174 178);
    --color-black-6: rgb(142 142 147);
    --color-white: rgb(28 28 30);
    --color-white-2: rgb(44 44 46);
    --color-white-3: rgb(58 58 60);
    --color-white-4: rgb(72 72 74);
    --color-white-5: rgb(99 99 102);
    --color-white-6: rgb(142 142 147);
  }
}
.logo svg {
  width: 128px;
  height: 128px;
  display: flex;
  fill: var(--color-black);
}

* {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

body,
html {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  background-color: var(--color-white);
  color: var(--color-black);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

body::-webkit-scrollbar {
  width: 6px;
}
body::-webkit-scrollbar-track {
  background-color: var(--color-white-4);
}
body::-webkit-scrollbar-thumb {
  background: var(--color-black-2);
  border-radius: 10px;
  cursor: pointer;
}

/*
*,
*::before,
*::after {
    box-sizing: border-box;
}


.carousel {
    height: 360px;
    position: relative;
}

.carousel>ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.slide>img {
    display: block;
    margin: auto;
    margin-top: 4em;
    width: 70%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
}

.carousel-button:hover,
.carousel-button:focus {
    color: rgb(100, 28, 167);
}

.carousel-button:focus {
    outline: 1px solid black;
}

.carousel-button.prev {
    left: 1rem;
}

.carousel-button.next {
    right: 1rem;
}

.carousel-caption {
    padding-bottom: 40px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

.carousel-vm {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    border-radius: 5px;
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.carousel-vm:hover {
    border-color: rgb(0, 0, 0);
    background-color: rgb(100, 28, 167);
    color: white;
}
*/
@media (min-width: 950px) {
  #mobile-header {
    display: none;
  }
  #mobile-menu {
    display: none;
  }
  #navbar {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 16px;
  }
  #navbar a {
    color: var(--color-black);
    text-decoration: none;
  }
  #navbar #logo:hover {
    cursor: pointer;
  }
  #navbar #logo span {
    font-size: 48px;
    transform: rotateZ(-22.5deg);
  }
  #navbar #menu {
    display: flex;
    align-items: center;
  }
  #navbar #menu .menu-item:not(.profile) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5vh 2.5vh;
    margin: 0vh 1vh;
    transition: all 0.2s;
    cursor: pointer;
  }
  #navbar #menu .menu-item:not(.profile)::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--color-black);
    margin-top: 2px;
    transition: all 0.2s;
  }
  #navbar #menu .menu-item:not(.profile):hover::after {
    width: 80%;
    background-color: var(--color-blue);
  }
  #navbar #menu .menu-item:not(.profile).active {
    color: var(--color-blue);
  }
  #navbar #menu .menu-item:not(.profile).active::after {
    background-color: var(--color-blue);
    width: 80%;
  }
  #navbar #menu .menu-item.profile {
    cursor: pointer;
  }
  #navbar #menu .menu-item.profile a {
    text-decoration: none;
    color: var(--color-black);
  }
  #navbar #menu .menu-item.profile .login {
    display: flex;
    align-items: center;
    color: var(--color-blue);
    transition: all 0.2s;
  }
  #navbar #menu .menu-item.profile .login:hover {
    transform: scale(1.1);
  }
  #navbar #menu .menu-item.profile .login :first-child {
    margin-right: 0.2rem;
  }
  #navbar #menu .menu-item.profile .profile-icon {
    padding: 1.5vh 2.5vh;
    margin: 0vh 1vh;
    cursor: pointer;
  }
  #navbar #menu .menu-item.profile .profile-icon span {
    font-size: 32px;
  }
  .pagination {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.8rem 0;
  }
  .pagination::before {
    content: "";
    display: block;
    width: 5%;
    height: 0.085rem;
    background-color: var(--color-black-5);
    margin-bottom: 0.8rem;
  }
  .pagination::after {
    content: "";
    display: block;
    width: 5%;
    height: 0.085rem;
    background-color: var(--color-black-5);
    margin-top: 0.8rem;
  }
  .pagination .step-links {
    display: flex;
    align-items: center;
  }
  .pagination .step-links * {
    margin: 0 0.25rem;
  }
  .pagination .step-links a {
    text-decoration: none;
  }
  .pagination .step-links a.next {
    color: var(--color-blue);
  }
  .pagination .step-links a.last {
    color: var(--color-indigo);
  }
  .pagination .step-links a.previous {
    color: var(--color-blue);
  }
  .pagination .step-links a.first {
    color: var(--color-indigo);
  }
  .eventos-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 1.4rem 0rem;
  }
  .evento {
    display: flex;
    flex-direction: column;
    max-width: 256px;
    min-width: 256px;
    max-height: 360px;
    min-height: 360px;
    padding: 12px 6px;
    justify-content: space-between;
    margin: 8px 12px;
    border-radius: 0.4rem;
    box-shadow: var(--color-white-2) 0px 2px 8px 0px;
    background-color: var(--color-white);
  }
  .evento .imagen-evento {
    display: flex;
    align-self: center;
    flex-direction: column;
    align-items: center;
  }
  .evento .imagen-evento img {
    max-width: 200px;
    min-width: 200px;
    max-height: 128px;
    min-height: 128px;
  }
  .evento .imagen-evento .no-image-text {
    position: relative;
    bottom: 22px;
    opacity: 0.6;
  }
  .evento .nombre-evento {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 236px;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    font-size: 16px;
    font-weight: 800;
    overflow: hidden;
    color: var(--color-mint);
    margin: 4px 0px;
  }
  .evento .nombre-evento::after {
    content: "";
    display: block;
    width: 80%;
    height: 1px;
    background-color: var(--color-black);
    margin-top: 10px;
    transition: all 0.2s;
    align-self: center;
  }
  .evento .descripcion-evento {
    display: -webkit-box;
    max-width: 236px;
    max-height: 38px;
    align-self: center;
    text-align: center;
    margin: 1vh 0vh;
    font-size: 12px;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
    font-style: oblique;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: var(--color-black-3);
  }
  .evento .informacion-evento-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px 24px;
  }
  .evento .informacion-evento-container .informacion-evento {
    display: flex;
    align-items: center;
    margin: 2px 0px;
    color: var(--color-black-5);
  }
  .evento .informacion-evento-container .informacion-evento span {
    margin-right: 1vh;
    font-size: 16px;
  }
  .evento .informacion-evento-container .informacion-evento p {
    margin: 0;
    font-size: 10px;
    max-width: 90%;
  }
  .evento .boton-evento-container {
    text-decoration: none;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
  }
  .evento .boton-evento-container .boton-evento {
    padding: 4px 32px;
    margin: 2px 0;
    background-color: var(--color-blue);
    color: var(--color-black);
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s;
  }
  .evento .boton-evento-container .boton-evento span {
    font-size: 14px;
  }
  .evento .boton-evento-container .boton-evento:hover {
    background-color: var(--color-blue-variant);
    transform: scale(1.05);
  }
  .evento .boton-evento-container .boton-evento:hover span {
    color: var(--color-black-variant);
  }
  footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    position: relative;
    width: 100%;
    bottom: 0;
  }
  footer .logo.footer-logo svg {
    width: 96px;
    height: 96px;
  }
  footer .copyright-container span {
    font-size: 0.8rem;
  }
  footer .copyright-container p {
    font-size: 0.6rem;
    color: var(--color-black-5);
  }
  footer .social-media-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .social-media-container span {
    font-size: 0.8rem;
    color: var(--color-black-2);
    margin: 0.5rem;
  }
  footer .social-media-container .social-media {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  footer .social-media-container .social-media i {
    cursor: pointer;
    transition: transform 0.3s ease-in-out, filter 0.25s ease-in-out;
    filter: drop-shadow(1px 1px 0px var(--color-black-5));
  }
  footer .social-media-container .social-media i:hover {
    transform: scale(1.2);
    filter: drop-shadow(1px 1px 0px var(--color-black-4));
  }
  footer .social-media-container .social-media i.twitter {
    color: #55acee;
  }
  footer .social-media-container .social-media i.instagram {
    background: radial-gradient(circle farthest-corner at 28% 100%, #fcdf8f 0%, #fbd377 10%, #fa8e37 22%, #f73344 35%, transparent 65%), linear-gradient(145deg, #3051f1 10%, #c92bb7 70%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  footer .social-media-container .social-media i.facebook {
    color: #4e71ba;
  }
}
@media (max-width: 950px) {
  #navbar {
    display: none;
  }
  #mobile-header {
    width: 100%;
    padding: 8px 4px;
  }
  #mobile-header.logo svg {
    width: 90px;
    height: 90px;
  }
  #mobile-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 64px;
    position: fixed;
    bottom: 0px;
    background-color: var(--color-white);
  }
  #mobile-menu .menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #mobile-menu .menu-item:not(.active) .menu-item-text {
    display: none;
  }
  #mobile-menu .menu-item:not(.active) .menu-item-icon {
    font-size: 2rem;
  }
  #mobile-menu .menu-item.active {
    color: var(--color-blue);
  }
  #mobile-menu .menu-item.active .menu-item-text {
    display: block;
    font-size: 0.8rem;
  }
  #mobile-menu .menu-item.active .menu-item-icon {
    font-size: 2rem;
  }
  .pagination {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.8rem 0;
  }
  .pagination::before {
    content: "";
    display: block;
    width: 5%;
    height: 0.085rem;
    background-color: var(--color-black-5);
    margin-bottom: 0.8rem;
  }
  .pagination::after {
    content: "";
    display: block;
    width: 5%;
    height: 0.085rem;
    background-color: var(--color-black-5);
    margin-top: 0.8rem;
  }
  .pagination .step-links {
    display: flex;
    align-items: center;
  }
  .pagination .step-links * {
    margin: 0 0.25rem;
  }
  .pagination .step-links a {
    text-decoration: none;
  }
  .pagination .step-links a.next {
    color: var(--color-blue);
  }
  .pagination .step-links a.last {
    color: var(--color-indigo);
  }
  .pagination .step-links a.previous {
    color: var(--color-blue);
  }
  .pagination .step-links a.first {
    color: var(--color-indigo);
  }
  .eventos-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 1.4rem 0rem;
  }
  .evento {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 270px;
    min-width: 270px;
    max-height: 172px;
    min-height: 172px;
    padding: 18px 20px;
    margin: 8px 6px;
    box-shadow: var(--color-white-2) 0px 2px 8px 0px;
    background-color: var(--color-white);
  }
  .evento .nombre-evento {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    font-size: 16px;
    font-weight: 800;
    overflow: hidden;
    color: var(--color-mint);
    margin: 4px 0px;
  }
  .evento .evento-top-side {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .evento .evento-top-side .imagen-evento {
    display: flex;
    align-self: center;
    flex-direction: column;
    align-items: center;
  }
  .evento .evento-top-side .imagen-evento img {
    max-width: 132px;
    min-width: 132px;
    max-height: 84px;
  }
  .evento .evento-top-side .imagen-evento .no-image-text {
    position: relative;
    bottom: 22px;
    opacity: 0.6;
  }
  .evento .evento-top-side .descripcion-evento {
    display: none;
  }
  .evento .evento-top-side .informacion-evento-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    /* margin: 0px 12px; */
    margin-left: 8px;
    overflow: hidden;
    width: 100%;
  }
  .evento .evento-top-side .informacion-evento-container .informacion-evento {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 2px 0px;
    color: var(--color-black-5);
  }
  .evento .evento-top-side .informacion-evento-container .informacion-evento span {
    margin-right: 1vh;
    font-size: 16px;
  }
  .evento .evento-top-side .informacion-evento-container .informacion-evento p {
    margin: 0;
    font-size: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .evento .boton-evento-container {
    text-decoration: none;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
  }
  .evento .boton-evento-container .boton-evento {
    padding: 8px 72px;
    background-color: var(--color-blue);
    color: var(--color-black);
    border-radius: 6px;
  }
  .evento .boton-evento-container .boton-evento span {
    font-size: 14px;
  }
  footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    position: relative;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 64px;
  }
  footer .logo.footer-logo svg {
    width: 84px;
    height: 84px;
  }
  footer .copyright-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 8.5rem;
    text-align: center;
  }
  footer .copyright-container span {
    font-size: 0.7rem;
  }
  footer .copyright-container p {
    font-size: 0.5rem;
    color: var(--color-black-5);
  }
  footer .social-media-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .social-media-container span {
    font-size: 0.8rem;
    color: var(--color-black-2);
    margin: 0.5rem;
  }
  footer .social-media-container .social-media {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  footer .social-media-container .social-media i {
    transition: transform 0.3s ease-in-out, filter 0.25s ease-in-out;
    filter: drop-shadow(1px 1px 0px var(--color-black-5));
  }
  footer .social-media-container .social-media i.twitter {
    color: #55acee;
  }
  footer .social-media-container .social-media i.instagram {
    background: radial-gradient(circle farthest-corner at 28% 100%, #fcdf8f 0%, #fbd377 10%, #fa8e37 22%, #f73344 35%, transparent 65%), linear-gradient(145deg, #3051f1 10%, #c92bb7 70%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  footer .social-media-container .social-media i.facebook {
    color: #4e71ba;
  }
}